#about{
    height: 700px;
    text-align: center;
    padding: 50px;
    color: rgb(31, 30, 30);
    font-family: 'Xanh Mono', monospace;;
    font-size: 22.5px;

}

.title{
    color: rgb(169, 197, 153);
    margin-bottom: 80px;
    font-size: 50px;
    text-shadow: 2px 2px rgb(31, 30, 30);
    border: 3px solid rgb(31, 30, 30);
}
#three{
 border: 3px solid  rgb(31, 30, 30);
 border-radius: 5% 5% 5% 5%;
 height: 300px;
}

#two{
    border: .05px solid  rgb(31, 30, 30);
 border-radius: 5% 5% 5% 5%;
 height: 300px;
 background-color:rgb(169, 197, 153) ;
 color: white;
}